.custom-ng-select .ng-dropdown-panel {
    background-color: white;
    z-index: 1000;
    outline: 1px solid lightgray;
    max-height: 125px;
    overflow-y: auto;
    border-radius: 10px;
}
.custom-ng-select .ng-select-container .ng-value {
    background-color: lightblue;
    outline: 1px solid lightblue;
    border-radius: 4px;
    margin: 4px;
}

body {
  background-color: dimgrey;
}

.card {
  border-radius: 25px;
  background-color: white;
}

.link-like-element {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.link-like-element:hover {
  text-decoration: underline;
}


.list-element span {
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 4px;
  color: black;
}

.styled-text {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

.styled-text h2 {
  color: #007bff;
  text-align: center;
}

.styled-text p {
  margin-bottom: 1em;
}

