/* You can add global styles to this file, and also import other style files */
.custom-ng-select .ng-dropdown-panel {
    background-color: white;
    z-index: 1000;
    outline: 1px solid lightgray; /* Replace with your desired outline color */
    max-height: 125px; /* Adjust as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    border-radius: 10px;
}
.custom-ng-select .ng-select-container .ng-value {
    background-color: lightblue;
    outline: 1px solid lightblue;
    border-radius: 4px;
    margin: 4px;
}

body {
  background-color: dimgrey;
}

.card {
  border-radius: 25px;
  background-color: white;
}

.link-like-element {
  color: #007bff; /* Bootstrap primary link color */
  text-decoration: none; /* Remove underline by default */
  cursor: pointer;
}

.link-like-element:hover {
  text-decoration: underline; /* Add underline on hover */
}


.list-element span {
  padding: 2px 5px;
  margin-right: 5px;
  border-radius: 4px;
  color: black; /* or any other color that suits the random background */
}
