<div class="card my-5">
  <div class="card-body styled-text">


      <h2>Домашняя аптечка</h2>
      <p>Заносите в БД информацию о приобретаемых лекарствах и их сроке годности.
        С лекарством вносите информацию о том, в каких случаях его необходимо применять.</p>

      <p>Приложение содержит справочник болезней и их симптомов.
        По указанным симптомам выводится список возможных болезней.
        По установленной врачом болезни выводится список имеющихся в домашней аптеке лекарств.</p>


  </div>
</div>
